* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'oswaldgreyitalic';
    src: url('../fonts/oswaldgi-webfont.eot');
    src: url('../fonts/oswaldgi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswaldgi-webfont.woff2') format('woff2'), url('../fonts/oswaldgi-webfont.woff') format('woff'), url('../fonts/oswaldgi-webfont.ttf') format('truetype'), url('../fonts/oswaldgi-webfont.svg#oswaldgreyitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'righteousregular';
    src: url('../fonts/Righteous-Regular-webfont.eot');
    src: url('../fonts/Righteous-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Righteous-Regular-webfont.woff2') format('woff2'), url('../fonts/Righteous-Regular-webfont.woff') format('woff'), url('../fonts/Righteous-Regular-webfont.ttf') format('truetype'), url('../fonts/Righteous-Regular-webfont.svg#righteousregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.inner:after{ display:block; clear:both; content:"";}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-LightItalic.ttf') format("truetype");
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.wrapper-outer {
    width: 100%;
    float: left;
}
.wrapper-inner {
  /* background: none repeat scroll 0 0 #fff; */
    margin: 0 auto;
    /*padding-bottom: 20px;*/
    width: 100%;
}
.inner {
    width: 90%;
    margin: 0 auto;
    padding: 0;
position:relative; 	
}
.clear {
    clear: both;
}
.heading {
	/*background-color: white; */
}
a {
    text-decoration: none;
}
/* topbar css*/

.topbar {
    width: 100%;
    float: left;
    height: auto;
    background: #fde509;
    color: #2333ae;
    text-align: right;
}
.topbar li {
    display: inline;
    font-size: 20px;
    line-height: 1.3;
    list-style: outside none none;
    padding-right: 10px;
    width: auto;
}
.topbar li a {
    text-decoration: none;
}
/*top bar ends*/
/*header*/

.header {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #FFF;
}
nav.nav {
    display: block;
}
.nav .nav-left {
    float: left;
    width: 40%;
}
.logo {
    float: left;
    width: 20%;
}
.nav .nav-right {
    float: left;
    width: 40%;
}
#menu-menu-left.menu {
    float: right;
}
.nav .nav-left li,
.nav .nav-right li {
    float: left;
    list-style: outside none none;
    padding: 3px 10px;
}
.responsive-menu {
    display: none;
    /*background: none repeat scroll 0 0 #2333ae;*/
    
    color: #fde509;
    float: left;
    width: 100%;
    background: #2333ae;
    background: -moz-linear-gradient(top, #2333ae 0%, #2637bb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2333ae), color-stop(100%, #2637bb));
    background: -webkit-linear-gradient(top, #2333ae 0%, #2637bb 100%);
    background: -o-linear-gradient(top, #2333ae 0%, #2637bb 100%);
    background: -ms-linear-gradient(top, #2333ae 0%, #2637bb 100%);
    background: linear-gradient(to bottom, #2333ae 0%, #2637bb 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2333ae', endColorstr='#2637bb', GradientType=0);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, .2) inset;
}
.responsive-menu:hover {
    background: #2333ae;
    color: #fff;
}
.responsive-menu i {
    cursor: pointer;
    display: block;
    font-family: 'Oswald';
    font-size: 17px;
    padding: 10px 0px;
    text-align: center;
}
.nav .nav-left > ul {
    float: right;
}
.logo {
    float: left;
    text-align: center;
    width: 100%;
    height: 100px;
}
.logo img {
    margin: 0;
    max-width: 180px;
    padding: 0;
    position: relative;
    z-index: 999;
    width: 30%;
    margin-top: 41px;
}
nav {
    background: none repeat scroll 0 0 #2333ae;
    color: #fde509;
    float: left;
    width: 100%;
    margin-top: 40px;
}
.nav > ul {
    text-align: center;
    width: auto;
}
.nav li {
    display: inline;
    list-style: outside none none;
}
.nav li a {
    color: #fde509;
    font-family: arial;
    padding: 5px 10px;
    display: block;
}
.nav li a:hover {
    background: #0f1e93;
    color: #fff;
}
.empty20 {
    width: 20%;
    background: none repeat scroll 0 0 #2333ae;
    float: left;
}
.topsec_bg {
    background-image: url('../img/back.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.girlbg {
    background-image: url('../img/girl_txt.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}
.map_outer {
    margin: 20px auto;
    width: 90%;
}
.top-banner {
    float: left;
    width: 100%;
    border-top: 8px solid #fde509;
    position: relative;
}
.top-banner .heading {
    color: #2333ae;
    font-family: 'Oswald';
    font-size: 64px;
    margin-top: -22px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 6px #fde509;
    top: 50%;
    width: 100%;
}
.top-banner > img {
    width: 100%;
}
/*.blue-border {
	border-bottom: 20px solid #2333ae;
	clear: both;
}*/

.blue-border {
    background: none repeat scroll 0 0 #fff;
    border-top: 10px solid #fde509;
    clear: both;
    height: 10px;
}
.b_img {
    background-color: rgba(0, 0, 0, 0.80);
    position: relative;
}
.b_img:hover .txt_area {
    display: block;
}
.txt_area {
    /*background-color: rgba(0,0,0,0.7);*/
    
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
}
.txt_area span a {
    bottom: 0 !important;
    color: #ff0;
    display: block;
    font-family: 'Oswald';
    font-size: 50px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    cursor: pointer;
    background: rgba(0, 0, 0, .7);
    text-shadow: #000 0px 5px 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.txt_area span a:hover {
    text-shadow: #000 0px 0px 2px;
    color: #efefef;
    padding-bottom: 10px;
}
/*haeder ends*/
/* center part container*/

.container {
    float: left;
    width: 100%;
    /*background:#fff;*/
}
.container h1.heading {
    color: #2333ae;
    font-family: 'Oswald';
    font-size: 34px;
    text-align: center;
    text-shadow: 0 0 6px #fde509;
    background: #FFF;
}
.menu-2 li {
    background: none repeat scroll 0 0 #ccc;
    float: left;
    list-style: outside none none;
    margin: 0 3px;
    text-align: center;
    width: 24.3%;
}
.menu-2 > ul {
    margin: 0 auto;
    width: 80%;
}
.menu-2 a {
    font-family: arial;
    font-size: 16px;
    display: block;
    padding: 5px 0;
}
.menu-2 a:hover {
    background: #767474;
    color: #fff;
}
.slider {
    margin: 0 auto 20px;
    width: 85%;
}
.slider > img {
    width: 100%;
}
.box {
    position: relative;
    width: 100%;
    float: left;
}
.box > img {
    width: 100%;
}
.box > .box-1h1 {
    color: #2333ae;
    left: 2%;
    position: absolute;
    top: 50%;
    width: 96%;
}
.box-1h1 > h1 {
    text-align: center;
}
.box2 {
    position: relative;
    width: 100%;
    float: left;
    background: #2333AE;
}
.box2 > div#wgmpmap {
    margin: 2%;
    width: 96% !important;
}
.box2 > img {
    margin: 5%;
    width: 90%;
}
.box2-1h1 {
    position: absolute;
    top: 50%;
    width: 100%;
}
.box2-1h1 > h1 {
    font-size: 50px;
    text-align: center;
    text-shadow: 0 0 5px #fde509;
    font-family: 'Oswald';
	font-weight:normal !important;
}
.social {
    background-color: #fff;
    border-bottom: 1px solid #000;
    margin-bottom: 490px;
    padding-bottom: 20px;
    text-align: center;
}
.social ul {
    width: 220px;
    margin: 10px auto 0;
}
.social li {
    float: left;
    list-style: outside none none;
}
.social ul:after {
    content: "";
    clear: both;
    display: block;
}
.social li a {
    text-decoration: none;
    display: block;
    border-radius: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.social li a:hover {
    box-shadow: #888 0 6px 3px;
    margin-top: -6px;
}
.social h2 {
    color: #2333ae;
    font-family: 'Oswald';
    font-size: 35px;
	font-weight:bold;
}
.menu-box {
    background: none repeat scroll 0 0 #2333ae;
    bottom: 51px;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.blue-bg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 30px 0;
    position: relative;
    width: 90%;
}
.blue-bg ul {
    padding: 20px 0 0 37px;
}
.menu-footer-menu-container {
    float: left;
    width: 35%;
}
.footer-logo {
    float: left;
    width: 30%;
    text-align: center;
}
.footer-logo > img {
    max-width: 350px;
    width: 100%;
}
.newsletter {
    float: left;
    margin-top: 10%;
    position: relative;
    width: 32%;
    padding-left: 35px;
}
.blue-bg li {
    list-style: outside none none;
    text-align: left;
}
.newsletter h3 {
    color: #fde509;
    font-family: 'Oswald';
    font-size: 22px;
	font-weight:normal;
}
.wysija-submit.wysija-submit-field {
    display: none !important;
}
.newsletter input[type="text"] {
    border: medium none;
    border-radius: 3px;
    margin: 10px 0 0;
    padding: 10px 20px;
    width: 70%;
}
.blue-bg a {
    color: #fde509;
    font-size: 32px;
    font-family: 'Oswald';
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.blue-bg a:hover {
    padding-left: 15px;
    color: #fff;
    border-left: #fff solid 3px;
}
.link_txt {
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.link_txt a {
    color: #2333ae;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
}
#menu-footer-menu li:nth-child(3),
#menu-footer-menu li:nth-child(4) {
    padding-right: 30px;
}
#menu-footer-menu li:nth-child(2),
#menu-footer-menu li:nth-child(5) {
    padding-right: 20px;
}
.login-box {
    position: relative;
}
.login-box > img {
    height: auto;
    width: 100%;
}
.login-form {
    left: 25%;
    position: absolute;
    top: 20%;
    width: 50%;
}
.login-form {
    background: url("../img/login-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 30%;
    min-width: 320px;
    position: absolute;
    top: 20%;
    width: 40%;
}
.login-box .form {
    margin: 40px auto;
    width: 80%;
}
.login-box input[type="email"],
input[type="password"] {
    display: block;
    margin: 5px 0 20px;
    padding: 10px;
    width: 95%;
}
.login-box span {
    float: right;
    padding: 10px;
}
.login-form h1 {
    font-size: 57px;
    font-weight: normal;
    padding: 20px 0;
    font-family: arial;
}
.login-box label {
    font-family: arial;
    font-size: 20px;
    padding: 4px 0 0 10px;
}
.form input[type="submit"] {
    background: url("../img/sign-in-btn.png") repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    border: medium none;
    clear: both;
    display: block;
    padding: 30px 20px;
    color: transparent !important;
    width: 90%;
    margin: 0 auto;
}
.box-1h1 > h1 {
    font-family: 'righteousregular';
    font-size: 34px;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
/*LOGIN PAGE CSS START FORM HERE*/

.login_bg {
    background-image: url("../img/lsbg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 600px;
    width: 100%;
    background-attachment: fixed;
}
.xoouserultra-login .xoouserultra-input {
    background: #fff !important;
}
.xoouserultra-login .xoouserultra-inner {
    background: #fff !important;
    left: 50% !important;
    margin-left: -150px !important;
    top: 120px;
    width: 300px !important;
}
.xoouserultra-login .xoouserultra-field-type,
.xoouserultra-login .xoouserultra-field-value {
    width: 100%;
    margin-bottom: 5px;
}
.xoouserultra-wrap .xoouserultra-inner {
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.xoouserultra-login .xoouserultra-main {
    padding-bottom: 60px;
}
.xoouserultra-login .xoouserultra-rememberme {
    display: none;
}
.xoouserultra-login h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-size: 30px;
}
.xoouserultra-login i.fa {
    display: none;
}
.xoouserultra-login span {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a3938;
    font-weight: bold;
}
.xoouserultra-login .xoouserultra-field {
    padding: 0px !important;
}
.xoouserultra-login .xoouserultra-button {
    background: none repeat scroll 0 0 #3228b1 !important;
    color: #fff !important;
    font-size: 18px !important;
    left: 50% !important;
    margin: 8px auto 8px -40% !important;
    padding: 8px 0 !important;
    position: relative;
    width: 80%;
}
.xoouserultra-login .xoouserultra-field-value a {
    color: #21759b;
    font-family: arial;
    font-size: 12px;
}
/* center part container ends*/

.banner-wrap {
    border: 7px solid #fde509;
    margin: 0 auto;
    width: 90%;
}
.banner-wrap:after {
    content: "";
    clear: both;
    width: 100%;
    display: block;
}
.banner-left {
    float: left;
    position: relative;
    width: 46%;
}
.banner-wrap img {
    width: 100%;
}
.banner-right {
    float: right;
    position: relative;
    width: 54%;
}
.banner-left > img {
    width: 100%;
}
.banner-left-inner {
    border-right: 5px solid #fde509;
    float: none;
    height: 100%;
    overflow: hidden;
}
.lbo {
    float: right;
}
.lbo:after {
    content: "";
    display: block;
    clear: both;
}
.lbo span {
    display: block;
    float: left;
}
.login_bt {
    background-image: url("../img/signin.jpg");
    background-repeat: no-repeat;
    height: 30px;
    width: 70px;
    padding: 0 !important;
    display: block;
   /* opacity: 0.5; */
}
.register_bt {
    background-image: url("../img/signup.jpg");
    background-repeat: no-repeat;
    height: 30px;
    width: 70px;
    display: block;
    padding: 0 !important;
   /* opacity: 0.5; */
}
.login_bt:hover,
.register_bt:hover {
    opacity: 1;
}
.banner-left-inner > a > img {
    width: 101.5%;
}
.banner-right-inner {
    float: left;
    width: 100%;
}
.right-upper {
    float: left;
    position: relative;
    width: 100%;
}
.right-upper-inner {
    border-bottom: 5px solid #FDE509;
}
.right-bottom {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.rb-left {
    float: left;
    position: relative;
    width: 50%;
}
.rb-left-inner {
    /*border-right: 5px solid #FDE509;*/
}
.rb-right {
    float: left;
    position: relative;
    width: 50%;
}
.content {
    background-color: #fff;
    color: #666;
    font-size: 20px;
    /*margin: 25px 0;*/
    
    padding: 50px 0;
}
.content_inner {
    font-family: arial;
    font-size: 22px;
    margin: 0 auto;
    text-align: center;
    width: 65%;
}
.content_inner strong {
    font-family: 'righteousregular';
    font-size: 30px;
}
.cro {
    background: none repeat scroll 0 0 #fee800;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
}
.cr {
    float: right;
    color: #695bbb;
    font-size: 14px;
    font-family: arial;
    padding: 17px;
    font-weight: initial;
}
.formError {
    left: 250px !important;
}
.widget_wysija_cont .updated,
.widget_wysija_cont .login .message {
    margin-left: 0px !important;
}
.video_outer {
    width: 100%;
    margin: auto;
    background-color: #fff;
}
.player {
    display: block;
    margin: 0 auto;
    padding: 10px 0 20px;
    width: 90%;
}
.cr {
    font-family: 'Oswald';
}
.player video {
    background: #FFF !important;
}

/*
===========================================================================
ENROL FORM CSS START
===========================================================================
*/
.form_area hr {    border: 1px solid #ccc;    margin: 15px auto;    width: 60%;}

.form_area{ background-color:#efefef; min-height:140px; width:750px; margin:0 auto; padding:30px 0;}
.form_area:after , .section_detail:after , .selector_box:after , .single_row:after , .fld_outer:after{ clear:both; content:""; display:block;}
.form_area .logo_form{ margin:0 auto ; max-width:567px; display:block; text-align:center; height:auto; width:100%;}
.form_header{ text-align:center; display:block; color:#555555; font-family:Arial, Helvetica, sans-serif; /*border-bottom:#555 solid 1px;*/ /*border-top:#555 solid 1px;*/ padding:20px 0; width:90%; margin:10px auto;}
.head{
	background: -moz-linear-gradient(center top , rgba(215, 215, 215, 0.56), rgba(189, 189, 189, 0.56)) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.2) !important;
    box-sizing: border-box !important;
    color: rgba(0, 0, 0, 0.43) !important;
    height: auto !important;
    margin: 1px auto !important;
    max-height: 60px !important;
    overflow: hidden !important;
    padding: 12px 20px !important;
	cursor:pointer !important;
	border-radius:3px !important;
	width:90% !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-weight:bold;
	text-indent:10px;
}
.head:hover , .ui-state-active{
	background: -moz-linear-gradient(center top , rgba(240, 240, 240, 0.56), rgba(215, 215, 215, 0.56)) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}
.fld_outer_f {
    width: 91%;
}
.fld_outer {
    color: #555;
    float: left;
    font-family: arial;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    position: relative;
    width: 45%;
}

.section_detail {
    margin: 0 auto !important;
    width: 80%;
	background:#FFF;
	padding:25px 5%!important;
	border-radius:3px;
	border:1px solid rgba(0, 0, 0, 0.2);
}
.single_row {
    margin: 10px auto;
    width:100%;
}

.left_area {
    float: left;
    width: 30%;
}

.left_area span{
    color: #777;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 5px 0px;
	font-weight:bold;
}



.right_area {
    float: right;
    width: 70%;
}
.form_area section{
}


input.fld{
    border: 1px solid #ddd;
    display: block;
    height: 26px;
    padding: 0 5%;
    width: 90%;
}
.fld_outer select {
    border: 1px solid #ddd;
    display: block;
    height: 26px;
    width: 100%;
}
.fld_outer_2 select {
    border: 1px solid #ddd;
    display: block;
    float: left;
    height: 26px;
    margin-right: 10px;
    width: 30.33%;
}

.fld_outer span {
   /* display: block; */
    font-family: arial;
    font-size: 12px;
    margin: 2px 0;
}


.boxed {
    float: left;
    margin-right: 15px;
    width: 30%;
}
.boxed span {
    color: #777;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
	font-weight:bold;
}
.fw_ttl span{
	color: #777;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
	font-weight:bold;
}
.fw_area{}
.selector_box {
    float: left;
    height: 20px;
    /*line-height: 15px;*/
    margin: 5px 5px 5px 0;
    width: 173px;
}

.selector_box label {
    display: block;
   float: left; 
    font-family: arial;
    font-size: 13px;
    margin-right: 10px;
    margin-top: -1px;
}


.content_box{
}
.content_box p {
    color: #555;
    font-family: arial;
    font-size: 13px;
    line-height: 17px;
    text-align: justify;
}
.sign_box{
}
.sign_box textarea {
    height: 80px;
    resize: none;
    width: 80%;
	padding:10px;
}
.fees{ font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#555;}
.sub_fbt{
	background: #606c88;
	background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b));
	background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
	background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
	background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%);
	background: linear-gradient(to bottom, #606c88 0%,#3f4c6b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
	border: medium none;
    color: #fff;
    display: block;
    font-size: 15px;
    height: 40px;
    text-shadow: 0 1px 1px #000;
    text-transform: uppercase;
    width: 100%;
	cursor:pointer;
	border-radius:3px;
}
sub_fbt:hover{
	background: #3f4c6b;
	background: -moz-linear-gradient(top, #3f4c6b 0%, #606c88 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#606c88));
	background: -webkit-linear-gradient(top, #3f4c6b 0%,#606c88 100%);
	background: -o-linear-gradient(top, #3f4c6b 0%,#606c88 100%);
	background: -ms-linear-gradient(top, #3f4c6b 0%,#606c88 100%);
	background: linear-gradient(to bottom, #3f4c6b 0%,#606c88 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#606c88',GradientType=0 );
}

@media screen and (max-width: 800px){
	.form_area{ width:95%;}
	.left_area , .right_area{ width:100%;}
}
@media screen and (max-width: 550px){
	.fld_outer{ width:100% !important; margin:0 auto !important;}
	.boxed{ width:47%; margin-right:3%;}
}
@media screen and (max-width: 390px){
	.boxed{ width:100%;}
}
/*
===========================================================================
ENROL FORM CSS END
===========================================================================
*/
@media screen and (max-width: 1024px) {
    .menu-2 li {
        width: 24%;
    }
    .menu-2 a {
        font-size: 19px;
    }
    .menu-box.blue-bg a {
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
    .menu-2 a {
        font-size: 17px;
    }
    .login-form {
        left: 25%;
        width: 50%;
    }
    .box-1h1 > h1 {
        font-size: 24px;
    }
    
    .banner-left-inner > a > img {
        width: 103%;
    }
}
@media screen and (max-width: 640px) {
    .menu-2 li {
        width: 23%;
    }
    nav.nav {
        display: none;
    }
    .responsive-menu {
        display: block;
    }
    .box2-1h1 > h1 {
        font-size: 40px;
    }
    .login-box input[type="email"],
    input[type="password"] {
        margin: 5px 0;
    }
    input[type="submit"] {
        padding: 20px;
    }
    .menu-box.blue-bg a {
        font-size: 25px;
    }
    .box2 > div#wgmpmap {
        height: 300px !important;
    }
    .login-box .form {
        margin: 0 auto;
    }
    .banner-left-inner > a > img {
        width: 103.5%;
    }
}
@media screen and (max-width: 480px) {
    .login-form {
        left: 15%;
        width: 50%;
        top: 10%;
    }
    .login-box form {
        margin: 20px auto;
        width: 80%;
    }
    .login-form h1 {
        font-size: 47px;
        padding: 0;
    }
    .box-1h1 > h1 {
        font-size: 17px;
    }
    .box2-1h1 > h1 {
        font-size: 30px;
    }
    .topbar li a {
        font-size: 14px;
        text-decoration: none;
    }
    .menu-box.blue-bg li {
        text-align: center;
    }
    
    .footer-logo > img {
        max-width: 350px;
        width: 70%;
    }
    .banner-left-inner > a > img {
        width: 105%;
    }
}
@media screen and (max-width: 360px) {
    .menu-2 li {
        margin: 2px 5px 0 0;
        width: 48%;
    }
    .menu-2 a {
        font-size: 13px;
    }
    .box2-1h1 > h1 {
        font-size: 21px;
    }
    .login-form {
        left: 0;
        width: 50%;
    }
    .topbar li a {
        font-size: 14px;
        text-decoration: none;
    }
    .banner-left-inner > a > img {
        width: 107%;
    }
}
/*****************************login page*******************/

/*
================================================================
CUSTOM RESPONSIVE CODE STARTS FORM HERE
================================================================
*/

@media screen and (max-width: 320px){
.logo img { margin: 10px 0 0; width: 25%;}
nav{ margin-top:0px;}
.empty20{ display:none;}
#menu-menu-left.menu{ float:inherit;}
.nav-left , .nav-right{ width:100% !important;}
.nav-left li , .nav-right li{ width:100%; padding:0px !important;}
.nav li a{ text-align:center;}
.banner-left-inner{ border-right:none !important;}
.banner-left , .banner-right{ width:100%;}
.txt_area span a{ font-size:20px !important;}
.player{ height:250px !important;}
.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 164px !important;}
.blue-bg ul{ padding:0px !important;}
.blue-bg li{ padding:0 !important;}
.blue-bg a{ font-size:16px; display:block; text-align:center;}
.blue-bg a:hover {	border-left: none !important ; border-bottom: 1px solid #fff; padding-left:0px !important; padding-top:5px;	}
.footer-logo img{ width:30%;}
.social li{ width:25%;}
.social li a{ display:block; width:35px; height:35px; margin:0 auto;}
.social li a img{ width:100%; height:100%;}
.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:100% !important; float: inherit ; margin:10px auto !important;}
.newsletter{ padding:0 !important;}
.newsletter h3 { font-size: 18px; text-align: center;}
.newsletter input[type="text"] { border: medium none; display: block; border-radius:0px; margin: 5px auto; padding: 10px 5%; width: 90%;}
.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 321px) and (max-width: 384px) {
.logo img { margin: 10px 0 0; width: 25%;}
nav{ margin-top:0px;}
.empty20{ display:none;}
#menu-menu-left.menu{ float:inherit;}
.nav-left , .nav-right{ width:100% !important;}
.nav-left li , .nav-right li{ width:100%; padding:0px !important;}
.nav li a{ text-align:center;}
.banner-left-inner{ border-right:none !important;}
.banner-left , .banner-right{ width:100%;}
.txt_area span a{ font-size:20px !important;}
.player{ height:250px !important;}
.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 164px !important;}
.blue-bg ul{ padding:0px !important;}
.blue-bg li{ padding:0 !important;}
.blue-bg a{ font-size:16px; display:block; text-align:center;}
.blue-bg a:hover {	border-left: none !important ; border-bottom: 1px solid #fff; padding-left:0px !important; padding-top:5px;	}
.footer-logo img{ width:30%;}
.social li{ width:25%;}
.social li a{ display:block; width:35px; height:35px; margin:0 auto;}
.social li a img{ width:100%; height:100%;}
.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:100% !important; float: inherit ; margin:10px auto !important;}
.newsletter{ padding:0 !important;}
.newsletter h3 { font-size: 18px; text-align: center;}
.newsletter input[type="text"] { border: medium none; display: block; border-radius:0px; margin: 5px auto; padding: 10px 5%; width: 90%;}
.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}

@media screen and (min-width: 385px) and (max-width: 480px) {
.logo{ margin-bottom:10px;}
.logo img { margin: 10px 0 ; width: 25%;}
nav{ margin-top:0px;}
.empty20{ display:none;}
#menu-menu-left.menu{ float:inherit;}
.nav-left , .nav-right{ width:100% !important;}
.nav-left li , .nav-right li{ width:100%; padding:0px !important;}
.nav li a{ text-align:center;}
.banner-left-inner{ border-right:none !important;}
.banner-left , .banner-right{ width:100%;}
.txt_area span a{ font-size:20px !important;}
.player{ height:250px !important;}
.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 164px !important;}
.blue-bg ul{ padding:0px !important;}
.blue-bg li{ padding:0 !important;}
.blue-bg a{ font-size:16px; display:block; text-align:center;}
.blue-bg a:hover {	border-left: none !important ; border-bottom: 1px solid #fff; padding-left:0px !important; padding-top:5px;	}
.footer-logo img{ width:30%;}
.social li{ width:25%;}
.social li a{ display:block; width:35px; height:35px; margin:0 auto;}
.social li a img{ width:100%; height:100%;}
.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:100% !important; float: inherit ; margin:10px auto !important;}
.newsletter{ padding:0 !important;}
.newsletter h3 { font-size: 18px; text-align: center;}
.newsletter input[type="text"] { border: medium none; display: block; border-radius:0px; margin: 5px auto; padding: 10px 5%; width: 90%;}
.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 481px) and (max-width: 533px){
.logo{ margin-bottom:10px;}
.logo img { margin: 10px 0 ; width: 18%;}
nav{ margin-top:0px;}
.empty20{ display:none;}
#menu-menu-left.menu{ float:inherit;}
.nav-left , .nav-right{ width:100% !important;}
.nav-left li , .nav-right li{ width:100%; padding:0px !important;}
.nav li a{ text-align:center;}
.banner-left-inner{ border-right:none !important;}
.banner-left , .banner-right{ width:100%;}
.player{ height:320px !important;}
.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 164px !important;}
.blue-bg ul{ padding:0px !important;}
.blue-bg li{ padding:0 !important;}
.blue-bg a{ font-size:16px; display:block; text-align:center;}
.blue-bg a:hover {	border-left: none !important ; border-bottom: 1px solid #fff; padding-left:0px !important; padding-top:5px;	}
.footer-logo img{ width:30%;}
.social li{ width:25%;}
.social li a{ display:block; width:35px; height:35px; margin:0 auto;}
.social li a img{ width:100%; height:100%;}
.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:100% !important; float: inherit ; margin:10px auto !important;}
.newsletter{ padding:0 !important;}
.newsletter h3 { font-size: 18px; text-align: center;}
.newsletter input[type="text"] { border: medium none; display: block; border-radius:0px; margin: 5px auto; padding: 10px 5%; width: 90%;}
.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 534px) and (max-width: 640px){
.logo{ margin-bottom:10px;}
.logo img { margin: 10px 0 ; width: 15%;}
nav{ margin-top:0px;}
.empty20{ display:none;}
#menu-menu-left.menu{ float:inherit;}
.nav-left , .nav-right{ width:100% !important;}
.nav-left li , .nav-right li{ width:100%; padding:0px !important;}
.nav li a{ text-align:center;}
.banner-left-inner{ border-right:none !important;}
.banner-left , .banner-right{ width:100%;}
.player{ height:320px !important;}
.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 164px !important;}
.blue-bg ul{ padding:0px !important;}
.blue-bg li{ padding:0 !important;}
.blue-bg a{ font-size:16px; display:block; text-align:center;}
.blue-bg a:hover {	border-left: none !important ; border-bottom: 1px solid #fff; padding-left:0px !important; padding-top:5px;	}
.footer-logo img{ width:30%;}
.social li{ width:25%;}
.social li a{ display:block; width:35px; height:35px; margin:0 auto;}
.social li a img{ width:100%; height:100%;}
.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:100% !important; float: inherit ; margin:10px auto !important;}
.newsletter{ padding:0 !important;}
.newsletter h3 { font-size: 18px; text-align: center;}
.newsletter input[type="text"] { border: medium none; display: block; border-radius:0px; margin: 5px auto; padding: 10px 5%; width: 90%;}
.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 641px) and (max-width: 769px){
	.logo {height: 50px;}
	.nav .nav-left li, .nav .nav-right li{ padding:3px 2px;}
	.logo img{ max-width:135px;}
	.txt_area span a{ font-size:24px;}
	.player{ height:370px !important;}
	.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 250px !important;}
	.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:31% !important; float: left ; margin:10px auto !important;}
	.blue-bg ul{ padding:0px !important;}
	.blue-bg li{ padding:0 !important;}
	.blue-bg a{ font-size:16px; display:block;}
	.footer-logo img{ width:75%;}
	.social{ margin-bottom:310px;}
	.newsletter input[type="text"] { border: medium none; display: block; border-radius:0px; margin: 5px auto; padding: 10px 5%; width: 90%;}
	.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 770px) and (max-width: 801px){
	.logo {height: 50px;}
	.nav .nav-left li, .nav .nav-right li{ padding:3px 2px;}
	.logo img{ max-width:105px;}
	.txt_area span a{ font-size:24px;}
	.player{ height:370px !important;}
	.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 250px !important;}
	.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:31% !important; float: left ; margin:10px auto !important;}
	.blue-bg ul{ padding:0px !important;}
	.blue-bg li{ padding:0 !important;}
	.blue-bg a{ font-size:16px; display:block;}
	.footer-logo img{ width:75%;}
	.social{ margin-bottom:310px;}
	.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 802px) and (max-width: 1025px){
	.logo {height: 50px;}
	.nav .nav-left li, .nav .nav-right li{ padding:3px 2px;}
	.logo img{ max-width:105px;}
	.txt_area span a{ font-size:24px;}
	.player{ height:370px !important;}
	.girlbg { background-color: #fff; background-size: 100% auto !important; border-top: 1px solid #2333ae; height: 250px !important;}
	.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:31% !important; float: left ; margin:10px auto !important;}
	.blue-bg ul{ padding:0px !important;}
	.blue-bg li{ padding:0 !important;}
	.blue-bg a{ font-size:16px; display:block;}
	.footer-logo img{ width:75%;}
	.social{ margin-bottom:365px;}
	.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 1026px) and (max-width: 1080px){
	.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:31% !important; float: left ; margin:10px auto !important;}
	.blue-bg ul{ padding:0px !important;}
	.blue-bg li{ padding:0 !important;}
	.blue-bg a{ font-size:24px; display:block;}
	.footer-logo img{ width:75%;}
	.social{ margin-bottom:449px;}
	
	.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}
@media screen and (min-width: 1081px) and (max-width: 1281px){
		.menu-box .menu-footer-menu-container , .menu-box .footer-logo , .menu-box .newsletter { width:31% !important; float: left ; margin:10px auto !important;}
				
	.blue-bg ul{ padding:0px !important;}
	.blue-bg li{ padding:0 !important;}
	.blue-bg a{display:block;}
	.footer-logo img{ width:75%;}
	.social{ margin-bottom:449px;}
	.formError .formErrorContent { border-radius:0px !important; margin-left: -101px !important; top: 38px !important; width: 100%;}
}

@media screen and (min-width: 1282px) and (max-width: 1366px){
}
@media screen and (min-width: 1367px) and (max-width: 1444px){
}
@media screen and (min-width: 1445px) and (max-width: 1681px){
}
@media screen and (min-width: 1682px) and (max-width: 1921px){
}
@media screen and (min-width: 1922px) and (max-width: 2600px){
}
/*
================================================================
CUSTOM RESPONSIVE CODE END HERE
================================================================
*/
#shopping-cart {
    background: none !important;
   
}

#donation > form {
    position: relative;
    top: 32px;
}

.signup_child {
    position: absolute;
    right: 0;
    width: 90px;
z-index:5;
display:none;
}

.child_bt{
}


.signup_child > li {
    display: block;
    line-height: 27px;
    padding: 0;
    text-align: right;
    width: 100%;
margin-bottom:1px
}
.child_bt {
    font-size: 14px;
    font-family: arial;
    background: #fde509;
    display: block;
	color:#839a77;

}
.lbo span{ padding:0 10px;}
.usersultra-dahsboard-cont{   min-height: 590px !important;}
.child_bt:hover{ background-color:#2333ae ; color:#fde509}
.signup:hover .signup_child{ display:block;}
.usersultra-dahsboard-left{ width:20%;}
.container h1{ /*background-color:#fff;*/ font-family:oswald !important; font-weight:bold !important;}
.uultra-btn-upload-avatar , a.uultra-btn-u-menu , .expandable-panel-heading{ font-family:oswald; font-weight:bold;}
span.edit a{color:#fff;}



.usersultra-dahsboard-cont [type="radio"]:not(:checked), [type="radio"]:checked{
position:inherit !important;
    left:inherit !important;
}
span.wpcf7-list-item {
    float: left;
    font-size: 14px;
    margin: 0 !important;
    position: relative;
    width: 33%;
    z-index: 5;
}
.selector_box input[type="checkbox"] {
	display: block;
	float:left;
	left:inherit !important;
	position:inherit !important;
}
.usersultra-dahsboard-cont [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after{ display:none;}
.xoouserultra-wrap [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before{ display:none;}
.usersultra-dahsboard-cont [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
    margin-top: -3px;
    padding-left: 0 !important;
}

